$color-white: #FFFFFF;
$color-blue: #4056A1;
$color-yellow: #ffff00;
$color-lightgreen: #e3f988;
$color-red: #DB0000;
$color-purple: #800080;
$color-lightblue: #a2a9c9;
$color-darkgrey: #545149;
$color-nearwhite: #f4f1ec;

$color-shadow: rgba(39, 33, 33, 0.3);

$font-primary: 'Source Sans Pro', sans-serif;
$font-app: 'Bungee', sans-serif;