nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 120px;
  color: #FFFFFF;
  background-color: #4056A1;
  padding: 0.8em 1.5em 0.8em 1.5em;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-write-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.nav-write-tweet > p {
  margin-bottom: 0;
}

.angle-double {
  color: #FF0000;
  font-size: 0.8em;
}