#alert-msg {
  font-size: 1.2em;
  font-weight: bold;
  color: #DB0000;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1em;
  font-weight: bold;
}

#tweet-text {
  background-color: #f4f1ec;
  margin: 0.5em 0 0 0;
  border: none;
  border-bottom: solid 4px #545149;
  resize: none;
  height: 2em;
  overflow: hidden;
}

.counter {
  font-family: "Bungee", sans-serif;
}

.exceed {
  color: #DB0000;
}

button {
  justify-content: space-between;
  color: #FFFFFF;
  font-family: "Bungee", sans-serif;
  background-color: #4056A1;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-radius: 8px;
}

button:hover {
  background-color: #800080;
  cursor: pointer;
}

form > div {
  display: flex;
  justify-content: space-between;
  padding: 1.1em 0 1.1em 0;
}
